@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --foreground: #171717;
  --primary: #017fa3;
  --primary-shade: #003f50;
  --on-primary: #ffffff;
  --primary-container: #a6eeff;
  --on-primary-container: #001f26;

  /* yellowiesh  */
  /* --secondary: #3a7f72;
--on-secondary: #ffffff;
--secondary-container: #bcefe2;
--on-secondary-container: #00201a; */

  /* charcol black  */
  /* --secondary: #1a1a1a;
--on-secondary: #ffffff;
--secondary-container: #333333;
--on-secondary-container: #f2f2f2; */

  /* Black-Blue Accent */
  --secondary: #0d1b2a;
  --on-secondary: #ffffff;
  --secondary-container: #243447;
  --on-secondary-container: #e6f0ff;

  /* Slate Black  */
  /* --secondary: #212121;
--on-secondary: #ffffff;
--secondary-container: #3a3a3a;
--on-secondary-container: #fafafa; */

  /* Teal-Black Fusion  */
  /* --secondary: #002b33;
--on-secondary: #ffffff;
--secondary-container: #01444f;
--on-secondary-container: #e0f7fa; */

--theme-bg:#ebf1f3;
--on-theme-bg:#272b2c;


  --tertiary: #3c6472;
  --on-tertiary: #ffffff;
  --tertiary-container: #c0e9fa;
  --on-tertiary-container: #001f28;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --background: #ffffff;
  --on-background: #000000;
  --surface: #e4e4e4;
  --on-surface: #191c1a;
  --surface-variant: #e8ebe8;
  --on-surface-variant: #404943;
  --outline: #9fa1a0;
  --outline-variant: #c0c9c1;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #2e312f;
  --inverse-on-surface: #eff1ed;
  --inverse-primary: #67dca5;

  /* Elevation */
  --elevation-level0: #eef6ef00;
  --elevation-level1: #eef6ef;
  --elevation-level2: #e7f1ea;
  --elevation-level3: #dfe7e5;
  --elevation-level4: #dde6e3;
  --elevation-level5: #d8e9df;

  --surface-disabled: #191c1a1f;
  --on-surface-disabled: #191c1a61;
  --backdrop: #2a322d66;
  --light-primary-container: #85f9c025;

  /* shadow  */
  --faq-out-shadow: 2px 8px 10px 0px #8aa4961f, -1px -1px 6px 0px #8aa4961f;
  --faq-inside-shadow: inset 2px 8px 10px 0px #8aa4961f;
  --faq-both-shadow: 2px 8px 10px 0px #8aa4961f,
    inset 2px 8px 10px 0px #8aa4961f;
  --navbar-shadow: 0px 20px 30px #53585d0d, 0px 0px 30px #53585d1a;
          --fullShadow: #64646f33 0px 7px 29px 0px;
        --lightShadow: #959da533 0px 1px 6px;
}

@theme inline {
  /* shadow  */
  --shadow-faq-out-shadow: var(--faq-out-shadow);
  --shadow-faq-inside-shadow: var(--faq-inside-shadow);
  --shadow-faq-both-shadow: var(--faq-both-shadow);
  --shadow-navbar-shadow: var(--navbar-shadow);
    --shadow-fullShadow: var(--fullShadow);
  --shadow-lightShadow: var(--lightShadow);

  /* color  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-shade: var(--primary-shade);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
    --color-theme-bg: var(--theme-bg);
  --color-on-theme-bg: var(--on-theme-bg);
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);
  --color-on-background: var(--on-background);
  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --color-shadow: var(--shadow);
  --color-scrim: var(--scrim);
  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-inverse-primary: var(--inverse-primary);

  /* Elevation */
  --color-elevation-level0: var(--elevation-level0);
  --color-elevation-level1: var(--elevation-level1);
  --color-elevation-level2: var(--elevation-level2);
  --color-elevation-level3: var(--elevation-level3);
  --color-elevation-level4: var(--elevation-level4);
  --color-elevation-level5: var(--elevation-level5);

  --color-surface-disabled: var(--surface-disabled);
  --color-on-surface-disabled: var(--on-surface-disabled);
  --color-backdrop: var(--backdrop);
  --color-light-primary-container: var(--light-primary-container);
  --font-poppins: var(--font-poppins);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --primary: #67dca5;
    --primary-shade: #9bffde;
    --on-primary: #003823;
    --primary-container: #005235;
    --on-primary-container: #85f9c0;
    --secondary: #b4ccbc;
    --on-secondary: #203529;
    --secondary-container: #364b3f;
    --on-secondary-container: #d0e8d8;
    --tertiary: #a4cddc;
    --on-tertiary: #053542;
    --tertiary-container: #234c5a;
    --on-tertiary-container: #c0e9fa;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffb4ab;
    --background: #191c1a;
    --on-background: #e1e3df;
    --surface: #191c1a;
    --on-surface: #e1e3df;
    --surface-variant: #404943;
    --on-surface-variant: #c0c9c1;
    --outline: #8a938c;
    --outline-variant: #404943;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #e1e3df;
    --inverse-on-surface: #2e312f;
    --inverse-primary: #006c48;

    /* Elevation */
    --elevation-level0: #eef6ef00;
    --elevation-level1: #1d2621;
    --elevation-level2: #1f2b25;
    --elevation-level3: #223129;
    --elevation-level4: #22332b;
    --elevation-level5: #24372e;

    --surface-disabled: #e1e3df1f;
    --on-surface-disabled: #e1e3df61;
    --backdrop: #2a322d66;
    --light-primary-container: #85f9c025;

    /* shadow  */
    --faq-out-shadow: 2px 8px 10px 0px #8aa4961f, -1px -1px 6px 0px #8aa4961f;
    --faq-inside-shadow: inset 2px 8px 10px 0px #8aa4961f;
    --faq-both-shadow: 2px 8px 10px 0px #8aa4961f,
      inset 2px 8px 10px 0px #8aa4961f;
    --navbar-shadow: 0px 20px 30px #53585d0d, 0px 0px 30px #53585d1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.slick-list {
  overflow: visible !important;
}

.slick-slide {
  padding: 0 15px; /* half-gap left & right */
}
